<!DOCTYPE html>
<html lang="en" template="TRUE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ strTitle }}</title>
</head>

<body>
    <div class="lo">
        <div class="lo-header">
            CMDN
        </div>
        <div class="lo-navigation">
            <ul>
                <li>Home</li>
                <li>Resume</li>
                <li>Contact</li>
                <li>Projects</li>
                <li>Service</li>
            </ul>
        </div>
        <div class="lo-hero">hero</div>
        <div class="lo-cta-left">ctaleft</div>
        <div class="lo-cta-right">right</div>
        <div class="lo-content">main content</div>
        <div class="lo-footer">footer</div>
    </div>
</body>

</html>